{% extends '_base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-main__title">
                            <h2>О компании</h2>
                        </div>
                        <a href="{% url 'about-create' %}" type="button" class="btn btn-info m-t-10 float-right">Добавить</a>
                        <!-- Add Contact Popup Model -->
                        <div class="table-responsive">
                            <table id="demo-foo-addrow" class="table table-bordered m-t-30 table-hover contact-list" data-paging="true" data-paging-size="7">
                                <thead>
                                    <tr>
                                        <th width="1%">#</th>
                                        <th width=1%></th>
                                        <th width="100">Загаловок</th>
                                        <th width="1%">Age</th>
                                        <th width="5%">Joining</th>
                                        <th width="1%">Salery</th>
                                        <th width="1%"></th>
                                        <th width="1%">Статус</th>
                                        <th width="1%"></th>
                                    </tr>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <img src="{% static 'assets/images/users/4.jpg' %}" alt="user" width="30" class="" />
                                        </td>
                                        <td>
                                            <span>Genelia Deshmukh</span>
                                        </td>
                                        <td>23</td>
                                        <td>12.10.2014</td>
                                        <td>$1200</td>
                                        <td><a href="#" class="label label-info"><i class="fas fa-edit"></i> Ред-ть</a></td>
                                        <td><span class="label label-success">Активный</span></td>
                                        <td><a href="#" class="label label-danger"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>
                                            <img src="{% static 'assets/images/users/5.jpg' %}" alt="user" width="30" class="" />
                                        </td>
                                        <td>
                                            <span>Arijit Singh</span>
                                        </td>
                                        <td>26</td>
                                        <td>10.09.2014</td>
                                        <td>$1800</td>
                                        <td><a href="#" class="label label-info"><i class="fas fa-edit"></i> Ред-ть</a></td>
                                        <td><span class="label label-danger">Не активный</span></td>
                                        <td><a href="#" class="label label-danger"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>
                                            <img src="{% static 'assets/images/users/6.jpg' %}" alt="user" width="30" class="" />
                                        </td>
                                        <td>
                                            <span>
                                                Govinda jalan
                                            </span>
                                        </td>
                                        <td>28</td>
                                        <td>1.10.2013</td>
                                        <td>$2200</td>
                                        <td><a href="#" class="label label-info"><i class="fas fa-edit"></i> Ред-ть</a></td>
                                        <td><span class="label label-success">Активный</span></td>
                                        <td><a href="#" class="label label-danger"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>
                                            <img src="{% static 'assets/images/users/7.jpg' %}" alt="user" width="30" class="" />
                                        </td>
                                        <td>
                                            <span>Hritik Roshan</span>
                                        </td>
                                        <td>25</td>
                                        <td>2.10.2017</td>
                                        <td>$200</td>
                                        <td><a href="#" class="label label-info"><i class="fas fa-edit"></i> Ред-ть</a></td>
                                        <td><span class="label label-danger">Не активный</span></td>
                                        <td><a href="#" class="label label-danger"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>
                                                <img src="{% static 'assets/images/users/4.jpg' %}" alt="user" width="30" class="" />
                                            </td>
                                        <td>
                                            <span>John Abraham</span>
                                        </td>
                                        <td>23</td>
                                        <td>10.9.2015</td>
                                        <td>$1200</td>
                                        <td><a href="#" class="label label-info"><i class="fas fa-edit"></i> Ред-ть</a></td>
                                        <td><span class="label label-success">Активный</span></td>
                                        <td><a href="#" class="label label-danger"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>
                                            <img src="{% static 'assets/images/users/6.jpg' %}" alt="user" width="30" class="" />
                                        </td>
                                        <td>
                                            <span>
                                                Govinda jalan
                                            </span>
                                        </td>
                                        <td>28</td>
                                        <td>1.10.2013</td>
                                        <td>$2200</td>
                                        <td><a href="#" class="label label-info"><i class="fas fa-edit"></i> Ред-ть</a></td>
                                        <td><span class="label label-success">Активный</span></td>
                                        <td><a href="#" class="label label-danger"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->

    </div>

{% endblock %}

{% block js %}

{% endblock %}